hr {
  margin: 20px 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, .04), #ddd, #ddd, rgba(0, 0, 0, .04));

  &.light, &[light] {
    margin: 10px 0;
  }
}

a {
  cursor: pointer;
}

.q-br-a {
  border-radius: 4px;
}

.q-br-t {
  border-radius: 4px 4px 0 0;
}

.q-br-t {
  border-radius: 0 0 4px 4px;
}

.q-br-l {
  border-radius: 4px 0 0 4px;
}

.q-br-r {
  border-radius: 0 4px 4px 0;
}
